body {
   background-color: rgba(30, 173, 114, 0.744);
}
footer {
   background-color: black;
   color: white;
   bottom:0;
   position:fixed;
   width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
}
